body {
  background: #141414 !important;
  color: #ffffff !important;
}

/* .movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
} */

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.list-movies-wrapper {
  position: relative;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.list-movies {
}

.list-movies.row {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border-width: 0;
}

.paddle:hover > svg {
  fill: #0091ea;
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}
